language: julia

os:
  - osx
  - linux
  - windows

julia:
  - 1.3
  - 1.4
  - nightly

branches:
  only:
    - master

jobs:
  allow_failures:
    - julia: nightly
  include:
    - stage: Documentation
      julia: 1.4
      env:
        - GKSwstype="100"
      os: linux
      script:
        - julia --project=docs -e 'using Pkg; Pkg.instantiate(); Pkg.develop(PackageSpec(path=pwd()))'
        - julia --project=docs --color=yes docs/make.jl
      after_success: skip
